Repository Act-Aks/Streamska: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint, typecheck

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        prettier:
            glob: '*.{js,ts,jsx,tsx,json,md,yml,yaml}'
            run: yarn prettier -c --ignore-unknown {staged_files}
        lint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint {staged_files}
        typecheck:
            glob: '*.{js,ts,jsx,tsx,json,md,yml,yaml}'
            run: yarn typecheck

commit-msg:
    parallel: true
    commands:
        commitlint:
            run: yarn commitlint --edit

feat: enhance project configuration and testing setup
  eslint.config.mjs
  jest.config.js
  package.json
  renovate.json
  src/__specs__/App.spec.tsx
  src/__specs__/setupTests.ts
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier, lint, typecheck

docs: update README.md with project details and legal disclaimer
  README.md
Due: prettier, typecheck

style(docs): enhance markdown files with modern styling and animations
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: prettier, typecheck

Revert "style(docs): enhance markdown files with modern styling and animations"
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: prettier, typecheck

feat: integrate Nativewind and Tailwind CSS for styling
  .gitignore
  babel.config.js
  eslint.config.mjs
  jest.config.js
  metro.config.js
  package.json
  src/__specs__/setupTests.ts
  src/index.tsx
  src/styles/global.css
  src/types/global.d.ts
  tailwind.config.js
  yarn.lock
Due: prettier, lint, typecheck

chore: add nativewind-env.d.ts for type definitions
  nativewind-env.d.ts
Due: prettier, lint, typecheck

feat: add theme utilities for colors, typography, and spacing
  .github/actions/check-permissions/action.yml
  .github/workflows/code-quality.yml
  commitlint.config.ts
  package.json
  src/__specs__/setupTests.ts
  src/components/atoms/Text/Text.static.ts
  src/components/atoms/Text/Text.tsx
  src/index.tsx
  src/screens/Home/Home.tsx
  src/utils/theme/colors.ts
  src/utils/theme/fontSize.ts
  src/utils/theme/index.ts
  src/utils/theme/spacing.ts
  src/utils/theme/typo.ts
  yarn.lock
Due: prettier, lint, typecheck

ci: add Act-Aks to authorized actors in check-permissions action
  .github/actions/check-permissions/action.yml
Due: prettier, typecheck

refactor(theme): migrate theme utilities to tailwind variants
  package.json
  src/components/atoms/Text/Text.static.ts
  src/components/atoms/Text/Text.tsx
  src/screens/Home/Home.tsx
  src/styles/global.css
  src/utils/theme/colors.ts
  src/utils/theme/fontSize.ts
  src/utils/theme/index.ts
  src/utils/theme/spacing.ts
  src/utils/theme/typo.ts
  tailwind.config.js
  yarn.lock
Due: prettier, lint, typecheck

feat!: update dependencies and refactor AppDelegate for React Native 0.79.0
  Gemfile
  android/gradlew
  ios/Streamska/AppDelegate.swift
  package.json
  yarn.lock
Due: prettier, typecheck

fix(bootsplash): increase logo dimensions to 150x150 for better visibility
  src/assets/bootsplash/manifest.json
Due: prettier, typecheck

chore: update dependencies to latest patch versions
  package.json
  yarn.lock
Due: prettier, typecheck

refactor(assets): adjust logo dimensions in bootsplash manifest
  src/assets/bootsplash/manifest.json
  src/assets/icon.png
Due: prettier, typecheck

refactor(navigation): restructure navigation and add RootNavigator
  .prettierrc.js
  .vscode/settings.json
  package.json
  src/components/atoms/Text/Text.static.ts
  src/components/atoms/index.ts
  src/components/organisms/RootNavigator/RootNavigator.static.ts
  src/components/organisms/RootNavigator/RootNavigator.tsx
  src/components/organisms/index.ts
  src/index.tsx
  src/screens/Home/Home.tsx
  src/screens/Settings/Settings.tsx
  src/screens/index.ts
  src/types/navigation.d.ts
  src/utils/misc.ts
  yarn.lock
Due: prettier, lint, typecheck

build: update Yarn from 4.8.1 to 4.9.0
  .yarn/releases/yarn-4.8.1.cjs
  .yarn/releases/yarn-4.9.0.cjs
  .yarnrc.yml
  package.json
Due: prettier, typecheck

refactor(components): replace tailwind-variants with tailwind-merge and clsx
  .prettierrc.js
  .vscode/settings.json
  eslint.config.mjs
  package.json
  src/components/atoms/Container/Container.tsx
  src/components/atoms/Text/Text.static.ts
  src/components/atoms/Text/Text.tsx
  src/components/atoms/index.ts
  src/components/organisms/SplashScreenWrapper/SplashScreenWrapper.static.ts
  src/components/organisms/SplashScreenWrapper/SplashScreenWrapper.tsx
  src/constants/theme.ts
  src/index.tsx
  src/screens/Home/Home.tsx
  src/screens/Settings/Settings.tsx
  src/styles/global.css
  src/types/index.ts
  src/utils/colorScheme.ts
  src/utils/misc.ts
  src/utils/storage.ts
  src/utils/theme/index.ts
  tailwind.config.js
  yarn.lock
Due: prettier, lint, typecheck

chore: update lefthook dependency to v1.11.9
  package.json
  yarn.lock
Due: prettier, typecheck

ci(workflows): replace custom setup action with cached-setup
  .github/actions/setup/action.yml
  .github/workflows/code-quality.yml
Due: prettier, typecheck

ci: update setup action to use cached-setup@v1.1.0
  .github/workflows/code-quality.yml
Due: prettier, typecheck

chore(deps): update react-native-bootsplash
  package.json
  yarn.lock
Due: prettier, typecheck

feat: add bottom tab navigation with animated indicators and scroll integration
  package.json
  src/components/molecules/TabBar/TabBar.logic.ts
  src/components/molecules/TabBar/TabBar.style.ts
  src/components/molecules/TabBar/TabBar.tsx
  src/components/molecules/TabBar/TabBarIcon/TabBarIcon.static.ts
  src/components/molecules/TabBar/TabBarIcon/TabBarIcon.tsx
  src/components/molecules/TabBar/TabBarIndicator/TabBarIndicator.logic.ts
  src/components/molecules/TabBar/TabBarIndicator/TabBarIndicator.static.ts
  src/components/molecules/TabBar/TabBarIndicator/TabBarIndicator.style.ts
  src/components/molecules/TabBar/TabBarIndicator/TabBarIndicator.tsx
  src/components/organisms/BottomTabNavigator/BottomTabNavigator.static.ts
  src/components/organisms/BottomTabNavigator/BottomTabNavigator.tsx
  src/components/organisms/RootNavigator/RootNavigator.static.ts
  src/components/organisms/RootNavigator/RootNavigator.tsx
  src/components/organisms/ScrollProvider/ScrollProvider.static.ts
  src/components/organisms/ScrollProvider/ScrollProvider.tsx
  src/components/organisms/SplashScreenWrapper/SplashScreenWrapper.static.ts
  src/components/organisms/SplashScreenWrapper/SplashScreenWrapper.tsx
  src/components/organisms/index.ts
  src/constants/theme.ts
  src/index.tsx
  src/screens/Home/Home.tsx
  src/screens/Search/SearchScreen.tsx
  src/screens/Settings/Settings.tsx
  yarn.lock
Due: prettier, lint, typecheck

build: update dependencies to latest patch versions
  package.json
  yarn.lock
Due: prettier, typecheck

chore: update lucide-react-native and lefthook dependencies
  package.json
  yarn.lock
Due: prettier, typecheck

fix: update configs and navigation for reanimated integration
  babel.config.js
  metro.config.js
  src/screens/Settings/Settings.tsx
  src/types/navigation.d.ts
Due: prettier, lint, typecheck

refactor: simplify animated styles and improve type safety
  src/components/molecules/TabBar/TabBar.logic.ts
  src/components/molecules/TabBar/TabBar.style.ts
  src/components/molecules/TabBar/TabBar.tsx
  src/components/molecules/TabBar/TabBarIcon/TabBarIcon.static.ts
  src/components/molecules/TabBar/TabBarIcon/TabBarIcon.tsx
  src/components/molecules/TabBar/TabBarIndicator/TabBarIndicator.logic.ts
  src/components/organisms/ScrollProvider/ScrollProvider.tsx
Due: prettier, lint, typecheck

feat(home): add carousel component to home screen
  package.json
  src/components/molecules/TabBar/TabBar.tsx
  src/screens/Home/Home.tsx
  src/screens/Settings/Settings.tsx
  yarn.lock
Due: prettier, lint, typecheck

chore: update dependencies to latest versions
  yarn.lock
Due: none

build: update dependencies to latest versions
  package.json
  yarn.lock
Due: prettier, typecheck

chore: update react-native-bootsplash to v6.3.6
  package.json
  yarn.lock
Due: prettier, typecheck

chore: update lefthook dependency to v1.11.12
  package.json
  yarn.lock
Due: prettier, typecheck

build: update yarn to version 4.9.1
  .yarn/releases/yarn-4.9.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: prettier, typecheck

chore: update react-native-bootsplash and typescript-eslint dependencies
  package.json
  yarn.lock
Due: prettier, typecheck

build: update babel dependencies to latest versions
  package.json
  yarn.lock
Due: prettier, typecheck

chore: update react-native and other libs
  package.json
  yarn.lock
Due: prettier, typecheck

chore: update libs
  package.json
  yarn.lock
Due: prettier, typecheck

build: update react-navigation dependencies to latest versions
  package.json
  yarn.lock
Due: prettier, typecheck

refactor: utils
  src/components/organisms/BottomTabNavigator/BottomTabNavigator.tsx
  src/components/organisms/RootNavigator/RootNavigator.tsx
  src/components/organisms/SplashScreenWrapper/SplashScreenWrapper.tsx
  src/screens/Settings/Settings.tsx
  src/utils/common/colorScheme.ts
  src/utils/common/misc.ts
  src/utils/common/storage.ts
Due: prettier, lint, typecheck

fix: adds restricted eslint rules
  eslint.config.mjs
  src/screens/Search/SearchScreen.tsx
  src/screens/Settings/Settings.tsx
Due: prettier, lint, typecheck
